<div class="app">
  <header class="hero">
    <p class="eyebrow">Facturation Médicale</p>

    <h1>Gérez facilement la facturation quotidienne du cabinet</h1>

    <p class="description">
      Une application fullstack pour gérer les patients, les factures journalières,
      les modes de paiement et les types de prise en charge.
    </p>
  </header>

  <section class="features">
    <article>
      <h2>Patients</h2>
      <p>Ajoutez et gérez les informations des patients du cabinet.</p>
    </article>

    <article>
      <h2>Factures</h2>
      <p>Enregistrez les paiements, les montants et les prises en charge.</p>
    </article>

    <article>
      <h2>Résumé journalier</h2>
      <p>Consultez le total encaissé par jour et filtrez les factures par date.</p>
    </article>
  </section>
  <section class="patients-section">
    <div class="section-header">
      <div>
        <p class="eyebrow">Patients</p>
        <h2>Ajouter un patient</h2>
      </div>
    </div>

    <form class="patient-form" (ngSubmit)="createPatient()">
      <div class="form-group">
        <label for="firstName">Prénom</label>
        <input
          id="firstName"
          type="text"
          placeholder="Ex : Sarah"
          [ngModel]="newPatientFirstName()"
          (ngModelChange)="newPatientFirstName.set($event)"
          name="firstName"
        />
      </div>

      <div class="form-group">
        <label for="lastName">Nom</label>
        <input
          id="lastName"
          type="text"
          placeholder="Ex : Martin"
          [ngModel]="newPatientLastName()"
          (ngModelChange)="newPatientLastName.set($event)"
          name="lastName"
        />
      </div>

      <button type="submit" [disabled]="isCreatingPatient()">
        {{ isCreatingPatient() ? 'Ajout en cours...' : 'Ajouter le patient' }}
      </button>
    </form>

    @if (createPatientError()) {
      <p class="error-message">{{ createPatientError() }}</p>
    }

    @if (createPatientSuccess()) {
      <p class="success-message">{{ createPatientSuccess() }}</p>
    }
  </section>
   <section class="patients-section">
    <div class="section-header">
      <div>
        <p class="eyebrow">Patients</p>
        <h2>Liste des patients</h2>
      </div>

      <button type="button" (click)="loadPatients()">
        Actualiser
      </button>
    </div>

    @if (isLoadingPatients()) {
      <p class="status-message">Chargement des patients...</p>
    }

    @if (patientsError()) {
      <p class="error-message">{{ patientsError() }}</p>
    }

    @if (!isLoadingPatients() && patients().length === 0 && !patientsError()) {
      <p class="empty-message">
        Aucun patient enregistré pour le moment.
      </p>
    }

    @if (patients().length > 0) {
      <div class="patients-list">
        @for (patient of patients(); track patient.id) {
          <article class="patient-card">
            <div>
              <h3>{{ patient.firstName }} {{ patient.lastName }}</h3>
              <p>Identifiant : {{ patient.id }}</p>
            </div>
          </article>
        }
      </div>
    }
  </section>
  <section class="patients-section">
    <div class="section-header">
      <div>
        <p class="eyebrow">Factures</p>
        <h2>Ajouter une facture</h2>
      </div>
    </div>

    <form class="invoice-form" (ngSubmit)="createInvoice()">
      <div class="form-group">
        <label for="invoicePatient">Patient</label>
        <select
          id="invoicePatient"
          [ngModel]="invoicePatientId()"
          (ngModelChange)="invoicePatientId.set($event)"
          name="invoicePatient"
        >
          <option value="">Sélectionner un patient</option>

          @for (patient of patients(); track patient.id) {
            <option [value]="patient.id">
              {{ patient.firstName }} {{ patient.lastName }}
            </option>
          }
        </select>
      </div>

      <div class="form-group">
        <label for="invoiceAmount">Montant payé</label>
        <input
          id="invoiceAmount"
          type="number"
          min="0"
          step="0.01"
          placeholder="Ex : 25"
          [ngModel]="invoiceAmount()"
          (ngModelChange)="invoiceAmount.set($event)"
          name="invoiceAmount"
        />
      </div>


      <div class="form-group">
        <label for="coverageType">Prise en charge</label>
        <select
          id="coverageType"
          [ngModel]="invoiceCoverageType()"
          (ngModelChange)="invoiceCoverageType.set($event)"
          name="coverageType"
        >
          @for (coverage of coverageTypes; track coverage.value) {
            <option [value]="coverage.value">{{ coverage.label }}</option>
          }
        </select>
      </div>
      @if (invoiceCoverageType() === 'STANDARD') {
      <div class="form-group">
        <label for="paymentMethod">Mode de paiement</label>
        <select
          id="paymentMethod"
          [ngModel]="invoicePaymentMethod()"
          (ngModelChange)="invoicePaymentMethod.set($event)"
          name="paymentMethod"
        >
          @for (method of paymentMethods; track method.value) {
            <option [value]="method.value">{{ method.label }}</option>
          }
        </select>
      </div>
}
      <div class="form-group">
        <label for="billingDate">Date</label>
        <input
          id="billingDate"
          type="date"
          [ngModel]="invoiceBillingDate()"
          (ngModelChange)="invoiceBillingDate.set($event)"
          name="billingDate"
        />
      </div>

      <div class="form-group form-group-wide">
        <label for="invoiceNotes">Note</label>
        <input
          id="invoiceNotes"
          type="text"
          placeholder="Ex : consultation réglée par carte"
          [ngModel]="invoiceNotes()"
          (ngModelChange)="invoiceNotes.set($event)"
          name="invoiceNotes"
        />
      </div>

      <button type="submit" [disabled]="isCreatingInvoice()">
        {{ isCreatingInvoice() ? 'Ajout en cours...' : 'Ajouter la facture' }}
      </button>
    </form>

    @if (createInvoiceError()) {
      <p class="error-message">{{ createInvoiceError() }}</p>
    }

    @if (createInvoiceSuccess()) {
      <p class="success-message">{{ createInvoiceSuccess() }}</p>
    }
  </section>

  <section class="patients-section">
    <div class="section-header">
      <div>
        <p class="eyebrow">Factures</p>
        <h2>Liste des factures</h2>
      </div>

      <button type="button" (click)="loadInvoices()">
        Actualiser
      </button>
    </div>

    @if (isLoadingInvoices()) {
      <p class="status-message">Chargement des factures...</p>
    }

    @if (invoicesError()) {
      <p class="error-message">{{ invoicesError() }}</p>
    }

    @if (!isLoadingInvoices() && invoices().length === 0 && !invoicesError()) {
      <p class="empty-message">
        Aucune facture enregistrée pour le moment.
      </p>
    }

    @if (invoices().length > 0) {
      <div class="invoices-list">
        @for (invoice of invoices(); track invoice.id) {
          <article class="invoice-card">
            <div>
              <h3>
                {{ invoice.patient?.firstName }} {{ invoice.patient?.lastName }}
              </h3>
              <p>
                {{ formatDate(invoice.billingDate) }} ·
  {{ getCoverageTypeLabel(invoice.coverageType) }}

  @if (invoice.paymentMethod) {
    · {{ getPaymentMethodLabel(invoice.paymentMethod) }}
  }
                
              </p>

              @if (invoice.notes) {
                <p class="invoice-note">{{ invoice.notes }}</p>
              }
            </div>

            <strong>{{ invoice.amount }} €</strong>
          </article>
        }
      </div>
    }
  </section>
</div>